In [10]:
import pandas as pd
from pymongo.errors import ConfigurationError
from pymongo import MongoClient

def read_mongo(uri):
    client = MongoClient(uri)
    db = client['tripadvisor']
    collection = db['tripadv_comment']
    df = pd.DataFrame(list(collection.find()))
    return df

In [11]:
tripadv = read_mongo ("mongodb+srv://birsenbas:dfGuS7MvuD811pHn@cluster0.cunmh.mongodb.net/test")

In [12]:
tripadv.head(5)

,_id,Review,Rating
0,62e2f0e76d0b7ec0f6cfd87f,nice hotel expensive parking got good deal sta...,4
1,62e2f0e76d0b7ec0f6cfd880,ok nothing special charge diamond member hilto...,2
2,62e2f0e76d0b7ec0f6cfd881,nice rooms not 4* experience hotel monaco seat...,3
3,62e2f0e76d0b7ec0f6cfd882,"unique, great stay, wonderful time hotel monac...",5
4,62e2f0e76d0b7ec0f6cfd883,"great stay great stay, went seahawk game aweso...",5

In [13]:
tripadv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     20491 non-null  object
 1   Review  20491 non-null  object
 2   Rating  20491 non-null  object
dtypes: object(3)
memory usage: 480.4+ KB